<nav id="vst-nav">
    <div class="_vst-logo-container" [ngClass]="{ '_vst-menu-locker': gaveta, '_vst-resp-menu-open': respGaveta }">
        <a (click)="toggleMenu()" class="vst-toggle-menu">
            <svg width="50px" height="50px" viewBox="0 0 50 50" version="1.1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="menu-rnd" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Group" transform="translate(11.000000, 15.000000)" fill="#FFF" fill-rule="nonzero">
                        <rect id="Rectangle" x="0" y="0" width="28" height="4" rx="2"></rect>
                        <rect id="Rectangle" x="0" y="8" width="28" height="4" rx="2"></rect>
                        <rect id="Rectangle" x="0" y="16" width="28" height="4" rx="2"></rect>
                    </g>
                </g>
            </svg>
        </a>
        <a (click)="toggleShow()" class="vst-resp-toggle-menu">
            <svg width="50px" height="50px" viewBox="0 0 50 50" version="1.1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="menu-rnd" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Group" transform="translate(11.000000, 15.000000)" fill="#FFF" fill-rule="nonzero">
                        <rect id="Rectangle" x="0" y="0" width="28" height="4" rx="2"></rect>
                        <rect id="Rectangle" x="0" y="8" width="28" height="4" rx="2"></rect>
                        <rect id="Rectangle" x="0" y="16" width="28" height="4" rx="2"></rect>
                    </g>
                </g>
            </svg>
        </a>
        <a routerLink="/" class="vst-logo-link">
            <img class="vsti-logo-menu" [src]="layoutService.logoSrc">
        </a>
    </div>

    <div class="_vst-nav-flex">
        <div class="_vst-tabs-container _vst-nav-flex-item-1" *ngIf="layoutService.tabsEnabled && !layoutService.useBodyTabs">
            <vst-tabs-container [unionTabs]="layoutService.useUnionTabs"></vst-tabs-container>
        </div>

        <div *ngIf="layoutService.authWidgetEnable && layoutService.authWidgetOptions.position === 'navbar'"
            class="_vst-nav-flex-item-2">
            <vst-auth-widget [closeOptions]="gaveta && !mouseInMenu && !responsive"
                [customComponentClass]="layoutService.authWidgetOptions.navbarCustomComponentClass"> </vst-auth-widget>
        </div>
    </div>
</nav>

<div id="vst-menu" [ngClass]="{ '_vst-menu-locker': gaveta, '_vst-resp-menu-open': respGaveta }"
    (mouseenter)="mouseIn()" (mouseleave)="mouseOut()">
    <vst-side-menu [(gaveta)]="gaveta" [mouseInMenu]="mouseInMenu" [responsive]="responsive"
        (respGavetaChange)="respGaveta"></vst-side-menu>
</div>

<div id="vst-site" [ngClass]="{ '_vst-menu-locker': gaveta, '_vst-resp-menu-open': respGaveta }">
    <div *ngIf="layoutService.tabsEnabled && layoutService.useBodyTabs" id="vs-tabs-on-body">
        <vst-tabs-container [unionTabs]="layoutService.useUnionTabs"></vst-tabs-container>
    </div>
    <vst-breadcrumbs *ngIf="layoutService.breadcumbsEnabled"></vst-breadcrumbs>
    <router-outlet></router-outlet>
    <div class="_vst-menu-overlay" (click)="respGaveta=false;"></div>
</div>