@import "../styles/variables.scss";
@import "../styles/dragula-custom.scss";

#vst-nav {
    position: fixed;
    z-index: 99999;
    height: $--vst-height-nav;
    width: 100%;
    z-index: 10;
    background: $--vst-color-bg-menu-nav;
    
    ._vst-logo-container {
        @extend %vst-otl-item;
        width: $--vst-width-logo-container;
        height: $--vst-height-nav;
        background-color: $--vst-color-bg-menu-logo;
        float: left;
        transition: .4s;
        align-items: center;
        img {
            height: $--vst-height-logo;
        }

        svg {
            height: $--vst-height-menu-toggler;
        }

        &._vst-menu-locker {
            width: $--vst-width-menu-locker;
        }

        @media (max-width: $vst-min-whidth) {
            width: 0px !important;
        }

        .vst-logo-link {
            position: absolute;
            left: $--vst-margin-left-logo-link;
        }

        .vst-toggle-menu {
            padding-top: 1px;
            position: absolute;
            cursor: pointer;
            display: block;
            margin-left: $--vst-margin-left-toggler-menu;

            svg {
                g {
                    g{
                        fill: $--vst-color-toggler-menu;
                    }
                }
            }

            @media (max-width: $vst-min-whidth) {
                display: none;
            }
        }

        .vst-resp-toggle-menu {
            padding-top: 1px;
            position: absolute;
            cursor: pointer;
            display: none;
            margin-left: $--vst-margin-left-toggler-menu;

            svg {
                g {
                    g{
                        fill: $--vst-color-toggler-menu;
                    }
                }
            }

            @media (max-width: $vst-min-whidth) {
                display: block;
            }
        }
    }
    
    ._vst-tabs-container {
        width: 100%;
        height: $--vst-height-nav;
        padding-left: $--vst-padding-left-tabs-container;
        position: inherit;
    }

    @media (max-width: $vst-min-whidth) {
        &._vst-resp-menu-open {
            box-shadow: 0 2px 4px rgba(0,0,0,.2);
        }
    }

    ._vst-nav-flex {
        // display: flex;
        // flex-direction: row;

        ._vst-nav-flex-item-1 {
            // flex: 1;
            // overflow-x: auto;
        }

        ._vst-nav-flex-item-2 {
            // flex: 0.5;
            // width: 150px;
        }
    }
}

#vst-menu {
    position: fixed;
    top: $--vst-height-nav;
    left: $--vst-width-viewers;
    bottom: 0px;
    width: $--vst-width-menu; // 250 do maior
    overflow: auto;
    padding-bottom: 40px;
    background-color: $--vst-color-bg-menu;
    z-index: 9;
    transition: .4s;
    border-top: 1px solid $--vst-color-border;
    overflow-x: hidden;

    ._vst-space {
        height: 10px;
    }

    ///////
    ////// --- inicio scroll
    &::-webkit-scrollbar {
        width: 10px;
    }
    /* Track */
    &::-webkit-scrollbar-track {
        background: $--vst-color-bg-scroll-track;
    }
    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: $--vst-color-bg-scroll-thumb;
    }
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: $--vst-color-bg-scroll-thumb-hover;
    }
    ////// --- fim scroll

    .vst-content {
        padding-left: 6px;
        margin-bottom: 6px;
    }
    
    @media (max-width: $vst-min-whidth) {
        left: $--vst-width-menu-negative;
        width: $--vst-width-menu !important; // width do maior, 250

        &._vst-resp-menu-open {
            left: $--vst-width-viewers !important;
        }
    }

    &._vst-menu-locker {
        width: $--vst-width-menu-locker; // 55 da gaveta
        
        &._vst-menu-locker:hover {
            width: $--vst-width-menu;
        }
    }
}

#vst-site {
    position: absolute;
    top: $--vst-height-nav;
    left: 0;
    width: 100%;
    padding-left: $--vst-padding-left-site; // 250 do maior
    color: $--vst-color-text;
    transition: .4s;
    bottom: 0;

    // gaveta
    &._vst-menu-locker {
        padding-left: $--vst-width-menu-locker; // 55 da gaveta
        @media (max-width: $vst-min-whidth) {
            padding-left: 0; // 55 da gaveta
        }
    }

    // aberto
    @media (max-width: $vst-min-whidth) {
        padding-left: 0px;
        &._vst-resp-menu-open {
            padding-left: 50px;
        
            ._vst-menu-overlay {
                background: rgba(0,0,0,.5);
                position: fixed;
                top: 0px;
                bottom: 0px;
                left: 0px;
                right: 0px;
                z-index: 5;
                display: block;
            }
        }
    }
}