////////////////////////////////////////////
//////////
//////////  CSS VALUES
//////////
////////////////////////////////////////////

$border-radius-image: 5%;
$bg-color-file-input: #326FB7;
$bg-color-file-input-hover: #225690;
$width-file-input: 200px;
$width-remove-input: initial;
$font-size-input-file-text: 12px;
$line-height-input-file: 1.33334;
$line-height-input-remove: 1.33334;
$color-input-file-text: #fff;
$padding-input-file: 4px 10px 4px;
$font-family-input-file-text: Arial, Helvetica, sans-serif;
$font-family-input-remove-text: Arial, Helvetica, sans-serif;
$bg-color-input-remove: #d9534f;
$bg-color-input-remove-hover: #c9302c;
$font-size-input-remove-text: 12px;

////////////////////////////////////////////
//////////
//////////  CSS VARIABLES
//////////
////////////////////////////////////////////

$vst-bg-color-file-input: var(--vst-bg-color-file-input, #{$bg-color-file-input});
$vst-bg-color-file-input-hover: var(--vst-bg-color-file-input-hover, #{$bg-color-file-input-hover});
$vst-bg-color-input-remove: var(--vst-bg-color-input-remove, #{$bg-color-input-remove});
$vst-bg-color-input-remove-hover: var(--bg-color-input-remove-hover, #{$bg-color-input-remove-hover});

$vst-font-size-input-file-text: var(--vst-font-size-input-file-text, #{$font-size-input-file-text});
$vst-font-size-input-remove-text: var(--font-size-input-remove-text, #{$font-size-input-remove-text});
$vst-font-family-input-file-text: var(--vst-font-family-input-file-text, #{$font-family-input-file-text});
$vst-font-family-input-remove-text: var(--vst-font-family-input-remove-text, #{$font-family-input-remove-text});
$vst-line-height-input-file: var(--vst-line-height-input-file, #{$line-height-input-file});
$vst-line-height-input-remove: var(--vst-line-height-input-remove, #{$line-height-input-remove});
$vst-color-input-file-text: var(--vst-color-input-file-text, #{$color-input-file-text});
$vst-border-radius-image: var(--vst-border-radius-image, #{$border-radius-image});
$vst-width-file-input: var(--vst-width-file-input, #{$width-file-input});
$vst-width-remove-input: var(--vst-width-remove-input, #{$width-remove-input});
$vst-padding-input-file: var(--vst-padding-input-file, #{$padding-input-file});

////////////////////////////////////////////
//////////
//////////  HERANÇAS
//////////
////////////////////////////////////////////

%vst-btn-gallery-upload {
    text-align: center;
    position: relative;
    vertical-align: middle;
    max-width: 100%;
    user-select: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

%vst-btn-gallery-upload-trigger {
    display: block;
    transition: all .4s;
    border-radius: 4px;
    border: 1px solid transparent;
}