<vst-gallery-upload #galleryUpload [responseDataKey]="prepareImageResponse" uploadUrl="fileuploader/image" [limit]="1"
    [col]="2" [value]="images" [roundImage]="true" (onUploading)="onImageUploading($event)" [cancelProcessFile]="true"
    inputText="Selecione" btnRemoveText="Remover" [cancelDragDrop]="true"></vst-gallery-upload>

<div align="left" *ngIf="showCropper" style="height: 150px; margin-left: 20px;">
    <button (click)="saveImage()" class="btn btn-success">Salvar</button>
</div>