:root {
    --vst-color-font-filter: #FFF;
    --vst-color-fill-space-bradcrumb: #FFF;
    --vst-color-bg-breadcrumbs: #FFF;
    --vst-color-font-filter: #FFF;
    --vst-border-radius-image: 9000px;
    --vst-height-profile: 40px;
    --vst-height-img-btn-auth-widget: 25px;
    --vst-font-size-btn-icon-auth-widget: 18px;
    --vst-margin-btn-icon-auth-widget-navbar: 2px;
    --vst-margin-btn-icon-auth-widget-navbar: 2px 0px 18px 0px;
}