@import "../styles/variables.scss";

.htl-gallery-image-container {
    position: relative;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,.1);
    background: #3e3e3e;
    border-radius: $vst-border-radius-image;
    width: 100%;
    height: 100%;

    &:before{
        content: "";
        display: block;
        padding-top: 100%;
    }

    .htl-gi-content {
        position:  absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &:hover {
            img {
                object-fit: contain;
            }

            ._htl-overlay {
                opacity: 1;
                transition: .2s;
            }
        }

        ._htl-overlay {
            position: absolute;
            height: 100%;
            width: 100%;
            opacity: 0;
            transition: .2s;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 51%, rgba(0,0,0,0.5) 100%);
            background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 51%,rgba(0,0,0,0.5) 100%);
            background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 51%,rgba(0,0,0,0.5) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#80000000',GradientType=0 );
        }
    }
}

.cursor-dragdrop-grab {
    cursor: grab;
}

.gu-transit {
    .htl-gi-content {
        cursor: grabbing;
    }
}

.container-fluid {
    .insert-photo {
        .row {
            margin-bottom: -6px;
        }
    }
}

.btn-input {
    position: absolute;
    top: 0;
    left: 0;
    -moz-opacity: 0;
    opacity: 0;
}

// Estilos botão upload início

.input-file-container {
    @extend %vst-btn-gallery-upload;
    width: $vst-width-file-input;
    font-size: $vst-font-size-input-file-text;
    line-height: $vst-line-height-input-file;
} 

.input-file-trigger {
    @extend %vst-btn-gallery-upload-trigger;
    background-color: $vst-bg-color-file-input;
    font-family: $vst-font-family-input-file-text;
    color: $vst-color-input-file-text;  
    padding: $vst-padding-input-file;
}

.btn-input:hover + .input-file-trigger,
.btn-input:focus + .input-file-trigger,
.input-file-trigger:hover {
    background-color: $vst-bg-color-file-input-hover;
}

// Estilos botão upload fim

//------------------------------------------------------------

// Estilos botão remove início

.input-remove-container {
    @extend %vst-btn-gallery-upload;
    width: $vst-width-remove-input;
    font-size: $vst-font-size-input-remove-text;
    line-height: $vst-line-height-input-remove;
    margin-bottom: 20px;

    .btn-input {
        cursor: pointer;
    }
} 

.input-remove-trigger {
    @extend %vst-btn-gallery-upload-trigger;
    background-color: $vst-bg-color-input-remove;
    font-family: $vst-font-family-input-remove-text;
    color: $vst-color-input-file-text;  
    padding: $vst-padding-input-file;
}

.btn-input:hover + .input-remove-trigger,
.btn-input:focus + .input-remove-trigger,
.input-remove-trigger:hover {
    background-color: $vst-bg-color-input-remove-hover;
}

// Estilos botão remove fim