<div class="container-fluid">
    <div class="row" [dragula]="drakeName" [(dragulaModel)]="value" (dragulaModelChange)="valueChanged();">
        <div class="col-{{col}}" style="margin-bottom: 20px;" *ngFor="let imageSrc of value; let i = index;">
            <div class="htl-gallery-image-container">
                <div class="htl-gi-content" [ngClass]="{ 'cursor-dragdrop-grab': !cancelDragDrop }">
                    <div class="_htl-overlay">
                        <div class="input-remove-container">
                            <input (click)="removeImage(i)" class="btn-input" />
                            <label tabindex="0" for="my-file" class="input-remove-trigger">{{btnRemoveText}}</label>
                        </div>
                    </div>
                    <img [src]="imageSrc">
                </div>
            </div>
        </div>
    </div>
    <div class="insert-photo" *ngIf="(!value || value && value.length < limit)">
        <hr>

        <div class="row">
            <div class="col-md-12">
                <div class="input-file-container">
                    <input #fileInput type='file' (change)="upload($event);" multiple="false" accept="image/*"
                        (click)="fileInput.value = null" value="" class="btn-input" />
                    <label tabindex="0" for="my-file" class="input-file-trigger">{{inputText}}</label>
                </div>
            </div>
        </div>

        <hr>
    </div>
</div>