////////////////////////////////////////////
//////////
//////////  CSS VALUES
//////////
////////////////////////////////////////////

$vst-color-bg-body: #FFF;
$vst-color-bg-menu-nav: #4199DD;
$color-bg-menu: rgb(80, 73, 73);
$height-filtermenu: 24px;
$width-menu: 250px;
$width-menu-locker: 40px;
$height-nav: 50px;
$width-viewers: 0px;
$height-titlemenu: 40px;
$vst-color-font-menu: rgb(255, 255, 255);
$color-font-menu-active: #FFF;
$padding-inner-item-menu: 10px 11px;
$margin-right-item-menu: 13px;
$padding-left-placeholder-filter: 25px;
$margin-left-filter-icon: 6px;
$margin-left-angle-menu-item: 0px;
$margin-right-angle-menu-item: 13px;
$margin-left-menu-subitems-content: 15px;
$color-toggler-menu: #FFF;
$margin-left-toggler-menu: -6px;
$margin-left-logo-link: 50px;
$vst-margin-btn-icon-auth-widget-navbar: 4px 0px 0px 0px;
$vst-margin-btn-img-auth-widget-navbar: -8px 0px 0px 0px;
$vst-margin-bottom-navbar-auth-widget-image: 4px;
$vst-color-btn-icon-auth-widget: #fff;
$vst-color-item-menu-disable: #b7b3b3;
$vst-font-size-btn-icon-auth-widget: 25px;
$vst-margin-custom-navbar-auth-widget: 0px 7px 0px 0px;

$vst-min-whidth: 1012px;
$vst-color-text: #4A4A4A;
$vst-color-bg-tabs: #4199DD;
$vst-color-bg-tab-out-var: #D4D6D7;
$vst-color-bg-tab: #D4D6D7;
$vst-color-bg-tab-selected: $vst-color-bg-body;
$vst-color-bg-tab-hover: darken($vst-color-bg-tab, 2);
$vst-color-text-tab: $vst-color-text;
$vst-color-text-tab-selected: #474747;
$vst-height-nav: 50px;
$vst-height-tabs: $vst-height-nav;
$vst-height-inner-tabs: 100%;
$vst-height-auth-widget-image: 40px;
$vst-width-auth-widget-image: 40px;
$vst-height-img-btn-auth-widget: $height-nav - 10px;
$vst-margin-right-tab: 4px;
$vst-padding-top-tabs: 8px;
$vst-padding-inner-tab: 7px 8px;
$vst-padding-navbar-auth-widget: 0px 15px 5px 5px;
$vst-side-close-tab-button: 16px;
$vst-radius-border-left-top-tab: 4px;
$vst-radius-border-right-top-tab: 4px;
$vst-radius-border-navbar-auth-widget-image: 9000px;

////////////////////////////////////////////
//////////
//////////  CSS VARIABLES
//////////
////////////////////////////////////////////

////////////////////////////////////////////
/** COLORS **/
////////////////////////////////////////////
// BACKGROUNDS
$--vst-color-bg-body: var(--vst-color-bg-body, #{$vst-color-bg-body});
$--vst-color-bg-header: var(--vst-color-bg-header, #{darken($vst-color-bg-body, .8)});
$--vst-color-bg-menu: var(--vst-color-bg-menu, #{$color-bg-menu});
$--vst-color-bg-menu-nav: var(--vst-color-bg-menu-nav, #{$vst-color-bg-menu-nav});
$--vst-color-bg-menu-logo: var(--vst-color-bg-menu-logo, #{$vst-color-bg-menu-nav});
$--vst-colog-bg-viewer-btn-active: var(--vst-colog-bg-viewer-btn-active, #{darken($color-bg-menu, 6)});
$--vst-color-bg-scroll-track: var(--vst-color-bg-scroll-track, #{lighten($color-bg-menu, 20%)});
$--vst-color-bg-scroll-thumb: var(--vst-color-bg-scroll-thumb, #{lighten($color-bg-menu, 6%)});
$--vst-color-bg-scroll-thumb-hover: var(--vst-color-bg-scroll-thumb-hover, #{lighten($color-bg-menu, 6%)});
$--vst-color-bg-profile-hover: var(--vst-color-bg-profile-hover, #{darken($color-bg-menu, 5%)});
$--vst-color-bg-breadcrumbs: var(--vst-color-bg-breadcrumbs, #{darken($vst-color-bg-body, .8)});
$--vst-color-bg-menu-title-hover: var(--vst-color-bg-menu-title-hover, #{darken($color-bg-menu, 5%)});
$--vst-color-bg-menu-item-hover: var(--vst-color-bg-menu-item-hover, #{darken($color-bg-menu, 2%)});
$--vst-color-bg-menu-item-point-active: var(--vst-color-bg-menu-item-point-active, #{darken($color-bg-menu, 10%)});
$--vst-color-bg-menu-item-active: var(--vst-color-bg-menu-item-active, #{darken($color-bg-menu, 10%)});
$--vst-color-bg-filter: var(--vst-color-bg-filter, #{darken($color-bg-menu, 2%)});
$--vst-color-bg-filter-hover: var(--vst-color-bg-filter-hover, #{darken($color-bg-menu, 4%)});
$--vst-color-bg-navbar-auth-widget: var(--vst-color-bg-navbar-auth-widget, #{$vst-color-bg-menu-nav});
// TEXTS
$--vst-color-font-filter: var(--vst-color-font-filter, #{lighten($vst-color-bg-body, .3)});
$--vst-color-font-menu: var(--vst-color-font-menu, #{$vst-color-font-menu});
$--vst-color-font-menu-active: var(--vst-color-font-menu-active, #{$color-font-menu-active});
$--vst-color-text: var(--vst-color-text, #4A4A4A);
$--vst-color-text-crumb: var(--vst-color-text-crumb, #{lighten($color-bg-menu, 10)});
$--vst-color-text-filter-message: var(--vst-color-text-filter-message, #{lighten($vst-color-bg-body, 4)});
// BORDERS
$--vst-color-border-bottom-header: var(--vst-color-border-bottom-header, #{darken($vst-color-bg-body, 2.8)});
$--vst-color-border: var(--vst-color-border, rgb(22, 48, 59));
$--vst-color-border-bottom-breadcrumbs: var(--vst-color-border-bottom-breadcrumbs, #{darken($vst-color-bg-body, 2.8)});
$--vst-color-fill-space-bradcrumb: var(--vst-color-fill-space-bradcrumb, #{darken($vst-color-bg-body, 2.8)});
// ICON
$--vst-color-btn-icon-auth-widget: var(--vst-color-btn-icon-auth-widget, #{$vst-color-btn-icon-auth-widget});

////////////////////////////////////////////
/** SIZES **/
////////////////////////////////////////////
// WIDTH
$--vst-width-menu: var(--vst-width-menu, #{$width-menu});
$--vst-width-viewers: var(--vst-width-viewers, #{$width-viewers});
$--vst-width-logo-container: var(--vst-width-logo-container, #{$width-menu + $width-viewers});
$--vst-width-menu-negative: var(--vst-width-menu-negative, -$width-menu);
$--vst-width-menu-locker: var(--vst-width-menu-negative, #{$width-menu-locker});

// HEIGHT
$--vst-height-filtermenu: var(--vst-height-filtermenu, #{$height-filtermenu});
$--vst-height-filtermenu-half: var(--vst-height-filtermenu-half, #{$height-filtermenu / 2});
$--vst-height-filtermenu-focused: var(--vst-height-filtermenu-focused, #{$height-filtermenu * 2});
$--vst-height-nav: var(--vst-height-nav, #{$height-nav});
$--vst-height-titlemenu: var(--vst-height-titlemenu, #{$height-titlemenu});
$--vst-height-logo: var(--vst-height-logo, #{$height-nav / 2});
$--vst-height-menu-toggler: var(--vst-height-menu-toggler, #{$height-nav / 2});
$--vst-height-profile: var(--vst-height-profile, #{$height-titlemenu});
$--vst-height-breadcrumbs: var(--vst-height-breadcrumbs, 40px);
$--vst-height-titlemenu-link: var(--vst-height-titlemenu-link, #{$height-titlemenu / 1.2});
$--vst-height-img-btn-auth-widget: var(--vst-height-img-btn-auth-widget, $vst-height-img-btn-auth-widget);

// UTILS
$--vst-padding-left-tabs-container: var(--vst-padding-left-tabs-container, #{$width-menu + $width-viewers});
$--vst-padding-left-site: var(--vst-padding-left-site, #{$width-menu + $width-viewers});
$--vst-padding-inner-item-menu: var(--vst-padding-inner-item-menu, #{$padding-inner-item-menu});
$--vst-padding-left-placeholder-filter: var(--vst-padding-left-placeholder-filter, #{$padding-left-placeholder-filter}); // padding-left texto placeholder do filtro do menu
$--vst-padding-navbar-auth-widget: var(--vst-padding-navbar-auth-widget, $vst-padding-navbar-auth-widget);
$--vst-side-menu-icon-font-size: var(--vst-side-menu-icon-font-size, 1rem);
$--vst-side-menu-icon: var(--vst-side-menu-icon, 16px);
$--vst-margin-left-logo-container-break: var(--vst-margin-left-logo-container-break, #{$height-nav + 4});
$--vst-margin-right-item-menu: var(--vst-margin-right-item-menu, #{$margin-right-item-menu});
$--vst-margin-right-angle-menu-item: var(--vst-margin-right-angle-menu-item, #{$margin-right-angle-menu-item}); // margin-right para a flecha dos menus com subitens
$--vst-margin-left-filter-icon: var(--vst-margin-left-filter-icon, #{$margin-left-filter-icon}); //margin-left do ícone do filtro
$--vst-margin-left-angle-menu-item: var(--vst-margin-left-angle-menu-item, #{$margin-left-angle-menu-item}); // margin-left para a flecha dos menus com subitens
$--vst-margin-left-menu-subitems-content: var(--vst-margin-left-menu-subitems-content, #{$margin-left-menu-subitems-content}); // margin-left para o conteúdo dos subitens
$--vst-margin-left-toggler-menu: var(--vst-margin-left-toggler-menu, #{$margin-left-toggler-menu}); // margin-left do ícone da gaveta
$--vst-margin-left-logo-link: var(--vst-margin-left-logo-link, #{$margin-left-logo-link}); // margin-left da logo
$--vst-margin-bottom-navbar-auth-widget-image: var(--vst-margin-bottom-navbar-auth-widget-image, $vst-margin-bottom-navbar-auth-widget-image);
$--vst-margin-btn-icon-auth-widget-navbar: var(--vst-margin-btn-icon-auth-widget-navbar, #{$vst-margin-btn-icon-auth-widget-navbar});
$--vst-margin-btn-img-auth-widget-navbar: var(--vst-margin-btn-img-auth-widget-navbar, #{$vst-margin-btn-img-auth-widget-navbar});
$--vst-margin-custom-navbar-auth-widget: var(--vst-margin-custom-navbar-auth-widget, #{$vst-margin-custom-navbar-auth-widget});
$--vst-color-toggler-menu: var(--vst-color-toggler-menu, #{$color-toggler-menu}); // cor do ícone da gaveta
$--vst-color-item-menu-disable: var(--vst-color-item-menu-disable, #{$vst-color-item-menu-disable});
$--vst-radius-border-navbar-auth-widget-image: var(--vst-radius-border-navbar-auth-widget-image, #{$vst-radius-border-navbar-auth-widget-image});
$--vst-font-size-btn-icon-auth-widget: var(--vst-font-size-btn-icon-auth-widget, #{$vst-font-size-btn-icon-auth-widget});

////////////////////////////////////////////
//////////
//////////  TABS
//////////
////////////////////////////////////////////
$--vst-color-bg-scroll-tabs-track: var(--vst-color-bg-scroll-tabs-track, lighten($vst-color-bg-tabs, 20%));
$--vst-color-bg-scroll-tabs-thumb: var(--vst-color-bg-scroll-tabs-thumb, darken($vst-color-bg-tabs, 6%));
$--vst-color-bg-scroll-tabs-thumb-hover: var(--vst-color-bg-scroll-tabs-thumb, darken($vst-color-bg-tabs, 20%));
$--vst-color-bg-tabs-container-resp: var(--vst-color-bg-tabs-container-resp, darken($vst-color-bg-tabs, 2));
$--vst-color-bg-tabs: var(--vst-color-bg-tabs, $vst-color-bg-tabs);
$--vst-color-bg-tab-out: var(--vst-color-bg-tab-out, $vst-color-bg-tab-out-var);
$--vst-color-bg-tab: var(--vst-color-bg-tab, $vst-color-bg-tab-out-var);
$--vst-color-bg-tab-selected: var(--vst-color-bg-tab-selected, $vst-color-bg-body);
$--vst-color-bg-tab-hover: var(--vst-color-bg-tab-hover, darken($vst-color-bg-tab-out-var, 2));

$--vst-color-text-tab: var(--vst-color-text-tab, $vst-color-text);
$--vst-color-text-tab-selected: var(--vst-color-text-tab-selected, $vst-color-text-tab-selected);

$--vst-height-inner-tabs: var(--vst-height-inner-tabs, $vst-height-inner-tabs);
$--vst-side-check-tabs: var(--vst-side-check-tabs, $vst-height-nav - 20px);
$--vst-height-tabs: var(--vst-height-tabs, $vst-height-nav);

$--vst-margin-right-tab: var(--vst-margin-right-tab, $vst-margin-right-tab);
$--vst-padding-top-tabs: var(--vst-padding-top-tabs, $vst-padding-top-tabs);
$--vst-padding-inner-tab: var(--vst-padding-inner-tab, $vst-padding-inner-tab);

$--vst-radius-border-left-top-tab: var(--vst-radius-border-left-top-tab, $vst-radius-border-left-top-tab);
$--vst-radius-border-right-top-tab: var(--vst-radius-border-right-top-tab, $vst-radius-border-right-top-tab);

$--vst-margin-top-tab-btn-close: var(--vst-margin-top-tab-btn-close, -$vst-side-close-tab-button / 2);
$--vst-side-close-tab-btn: var(--vst-side-close-tab-btn, $vst-side-close-tab-button);
$--vst-font-weight-tab: var(--vst-font-weight-tab, bold);
$--vst-font-size-tab: var(--vst-font-size-tab, 14px);


////////////////////////////////////////////
//////////
//////////  UNION TABS
//////////
////////////////////////////////////////////
$tabDefaultBGColor: #ececec;
$--vst-height-union-tabs: var(--vst-height-union-tabs, 28px);
$--vst-color-border-color-union-tab: var(--vst-color-border-color-union-tab, darken($color: $tabDefaultBGColor, $amount: 10));
$--vst-padding-container-union-tab: var(--vst-padding-container-union-tab, 0px 24px);
$--vst-font-size-title-union-tab: var(--vst-font-size-title-union-tab, 12px);
$--vst-color-background-union-tab: var(--vst-color-background-union-tab, $tabDefaultBGColor);
$--vst-background-selected-union-tab: var(--vst-background-selected-union-tab, lighten($color: $tabDefaultBGColor, $amount: 4));
$--vst-background-hover-union-tab: var(--vst-background-hover-union-tab, darken($color: $tabDefaultBGColor, $amount: 10));



////////////////////////////////////////////
//////////
//////////  HERANCAS
//////////
////////////////////////////////////////////

%vst-otl-item {
    // otl
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}