@import "../../../styles/variables.scss";

// padding do widget auth
$vst-auth-widget-padding: 6px;

.vst-auth-widget {
    .vst-auth-widget-menu {
        padding: $vst-auth-widget-padding;
        width: 100%;
    }
    
    // componente de profile
    .vst-profile-options {
        width: 100%;
        position: relative;
        align-items: center;

        .vst-profile-img {
            display: flex;
            align-items: center;
            justify-content: center;
            width: $--vst-height-profile;
            height: $--vst-height-profile;
            position: relative;
            overflow: hidden;
            box-shadow: 0px 2px 4px rgba(0,0,0,.1);
            border-radius: 0.22rem;
            background: #3e3e3e;

            &:before{
                content: "";
                display: block;
                padding-top: 90%; // most images are on horizontal
            }
            .vst-profile-img-content {
                position:  absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        .vst-profile-content {
            font-size: 12px;
            white-space: nowrap;
            color: $--vst-color-font-menu;
            position: absolute;
            left: $--vst-height-profile;
            padding-left: 9px;
            top: 8px;

            .vst-name {
                display: block;
                font-weight: 800;
            }
            .vst-description {
                display: block;
                opacity: .7;
                font-size: 10px;
            }
        }
        .vst-arrow-content {
            width: 36px;
            height: 36px;
            margin-left: 6px;

            img {
                width: 100%;
                transform: rotate(90deg);
            }
        }
    }
    
    ._vst-btn-groups {
        position: relative;
        display: flex;
        margin-top: 6px;
        color: #FFF;
        white-space: nowrap;
        width: $--vst-width-menu - (2*$vst-auth-widget-padding);

        ._vst-btn-container {
            flex: 1;
            position: relative;
            background: rgba(0,0,0,.2);
            margin: 0px 4px;
            border-radius: 4px;
            align-items: center;
            justify-content: center;
            display: flex;
            text-align: center;
            padding: 6px 0px;
            font-size: 12px;

            &:hover {
                cursor: pointer;
                background: rgba(0,0,0,.4);
            }
            &:first-child {
                margin-left: 0;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }

    ._vst-display-btn-groups {
        display: none;
    }
    
    .vst-auth-widget-navbar {
        background-color: $--vst-color-bg-navbar-auth-widget;
        color: #fff;
        height: 100%;
        position: absolute;
        padding: $--vst-padding-navbar-auth-widget;
        right: 0;
        top: 0;
        line-height: $--vst-height-nav;

        .vst-profile-img {
            height: $--vst-height-profile;
            width: $--vst-height-profile;
            border-radius: $--vst-radius-border-navbar-auth-widget-image;
            margin-bottom: $--vst-margin-bottom-navbar-auth-widget-image;
        }

        .vst-profile-img-click {
            cursor: pointer;
        }

        ._vst-options-group {
            position: relative;
            display: flex;
            white-space: nowrap;
            
            .vst-custom-navbar-component {
                margin: $--vst-margin-custom-navbar-auth-widget;
            }

            .vst-profile-img-content {
                flex: 1;
                margin-left: 10px;
                display: table-cell;
                vertical-align: middle;
            }

            ._vst-btn-container {
                flex: 1;
                position: relative;
                margin: 0px 4px;
                align-items: center;
                justify-content: center;
                display: flex;
                text-align: center;
                color: $--vst-color-btn-icon-auth-widget;
                
                span {
                    img {
                        height: $--vst-height-img-btn-auth-widget;
                        width: $--vst-height-img-btn-auth-widget;
                    }

                    i {
                        font-size: $--vst-font-size-btn-icon-auth-widget;
                    }
                }

                &:hover {
                    cursor: pointer;
                }

                &:first-child {
                    margin-left: 0;
                }

                &:last-child {
                    margin-right: 0;
                }

                .vst-btn-icon-auth-widget {
                    margin: $--vst-margin-btn-icon-auth-widget-navbar;
                }
                
                .vst-btn-img-auth-widget {
                    margin: $--vst-margin-btn-img-auth-widget-navbar;
                }
            }
        }
    }
}
