<div class="vst-auth-widget">
    <div *ngIf="layoutService.authWidgetOptions.position === 'menu'" class="vst-auth-widget-menu">
        <div class="vst-profile-options">
            <div class="vst-profile-img">
                <div class="vst-profile-img-content">
                    <img [src]="layoutService.authWidgetOptions.image">
                </div>
            </div>
            <div class="vst-profile-content">
                <span class="vst-name">{{ layoutService.authWidgetOptions.title }}</span>
                <span class="vst-description">{{ layoutService.authWidgetOptions.subTitle }}</span>
            </div>
        </div>

        <div class="_vst-btn-groups" *ngIf="layoutService.authWidgetOptions.options.length"
            [@toggle-closeOptions]="closeOptions">
            <div class="_vst-btn-container {{option.class}}"
                *ngFor="let option of layoutService.authWidgetOptions.options" (click)="optionClicked(option, $event);"
                id="{{option.id}}">
                <span class="_vst-contant">
                    <i *ngIf="option.iconClass" [class]="option.iconClass"></i>
                    <img *ngIf="option.iconSrc" [src]="option.iconSrc" />
                    {{ option.title }}
                </span>
            </div>
        </div>
    </div>

    <!-- && !layoutService.tabsEnabled -->
    <div id="auth-widget-content" *ngIf="layoutService.authWidgetOptions.position === 'navbar'"
        class="vst-auth-widget-navbar">
        <div class="_vst-options-group">
            <div *ngIf="customComponentClass" class="vst-custom-navbar-component">
                <ng-container #vc></ng-container>
            </div>

            <div id="{{option.id}}" class="_vst-btn-container"
                *ngFor="let option of layoutService.authWidgetOptions.options" (click)="optionClicked(option, $event)">
                <span
                    [ngClass]="{ 'vst-btn-icon-auth-widget': option.iconClass, 'vst-btn-img-auth-widget': option.iconSrc }">
                    <i *ngIf="option.iconClass" [class]="option.iconClass"></i>
                    <img *ngIf="option.iconSrc" [src]="option.iconSrc" />
                </span>
            </div>

            <div class="vst-profile-img-content">
                <img id="{{layoutService.authWidgetOptions.imageElementId}}" class="vst-profile-img"
                    [ngClass]="{ 'vst-profile-img-click': !layoutService.authWidgetOptions.disableImageClick }"
                    [src]="layoutService.authWidgetOptions.image" alt="" (click)="onAuthImgClick()">
            </div>
        </div>
    </div>
</div>