@import "../../../styles/variables.scss";

#vst-tabs {
    width: 100%;
    height: $--vst-height-tabs;
    background-color: $--vst-color-bg-tabs;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    
    &::-webkit-scrollbar {
        height: 7px;
    }
    /* Track */
    &::-webkit-scrollbar-track {
        background: $--vst-color-bg-scroll-tabs-track;
    }
    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: $--vst-color-bg-scroll-tabs-thumb;
    }
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: $--vst-color-bg-scroll-tabs-thumb-hover;
    }

    @media (max-width: $vst-min-whidth) {
        display: none;
    }
}

ul {
    padding: 0;
    margin: 0 !important;
    height: $--vst-height-inner-tabs;
    position: relative;
    bottom: 0;
    padding-top:  $--vst-padding-top-tabs;
    padding-left: $--vst-margin-right-tab;

    // fix position on screen
    // bottom: -1px
    
    list-style-type: none;
    li {
        display: inline-block;
        height: $--vst-height-inner-tabs;
        margin-right: $--vst-margin-right-tab;
    }
}

._vst-tab {
    position: relative;
}

._vst-tab-link {
    position: relative;
    height: $--vst-height-inner-tabs;
    display: block;
}
._vst-tab:hover ._vst-tab-link,
._vst-tab:active ._vst-tab-link {
    text-decoration: none;
}

._vst-tab-content {
    background-color: $--vst-color-bg-tab; /* BACKGROUND QUANDO DESATIVADO */
    color: $--vst-color-text-tab;
    height: $--vst-height-inner-tabs;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    border-top-left-radius: $--vst-radius-border-left-top-tab;
    border-top-right-radius: $--vst-radius-border-right-top-tab;
    
    padding: $--vst-padding-inner-tab;
    display: block;
    font-size: 13px;
    min-width: 100px;
    max-width: 150px;

    img {
        width: 14px;
        height: 14px;
        display: inline-block;
        position: relative;
        top: -10px;
        margin-right: 4px;
    }
}


._vst-tab:hover ._vst-tab-content {
    background-color: $--vst-color-bg-tab-hover; /* BACKGROUND QUANDO HOVER */
}

._vst-tab.selected ._vst-tab-content {
    color: $--vst-color-text-tab-selected;
    background-color: $--vst-color-bg-tab-selected; /* BACKGROUND QUANDO ATIVO */
}

._vst-tab-content ._vst-tab-title {
    display: inline-block;
    overflow: hidden;
    line-height: 1.1;
    font-weight: $--vst-font-weight-tab;
    font-size: $--vst-font-size-tab;
}
._vst-tab-title ._vst-tab-domain {
    display: block;
    font-size: 60%;
    opacity: .6;
}

._vst-tab ._vst-close-btn {
    position: absolute;
    right: 4px;
    top: 50%;
    margin-top: $--vst-margin-top-tab-btn-close;
    width: $--vst-side-close-tab-btn;
    height: $--vst-side-close-tab-btn;
    display: none;
    cursor: pointer;
}

._vst-tab .svg-close-btn {
    width: 100%;
    height: 100%;
}

._vst-tab:hover ._vst-close-btn {
    display: block;
}
