@import "../../../styles/variables.scss";

#vst-tabs-rsp {
    
    display: none;

    ._vst-checktabs {
        background: none;
        border: 3px solid #FFF;
        border-radius: 6px;
        width: $--vst-side-check-tabs;
        height: $--vst-side-check-tabs;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        outline: none;

        ._vst-qtd-tabs {
            color: #FFF;
            font-weight: bold;
        }
    }

    ._vst-tabs-container {
        display: none;
        position: fixed;
        z-index: 20;
        background-color: $--vst-color-bg-tabs-container-resp;
        top: 50px;
        right: 0px;
        left: 0px;
        bottom: 0px;

        ._vst-tab-container {
            width: 50%;
            height: 130px;
            padding: 30px 20px;
            float: left;
            position: relative;

            ._vst-tab {
                background: #FFF;
                border-radius: 8px;
                height: 100%;
                box-shadow: 0 4px 12px rgba(0,0,0,.2);
                position: relative;
                
                a {
                    color: $--vst-color-text-tab;
                    font-size: 16px;
                    padding: 10px;
                    display: block;
                    height: 100%;
                    text-decoration: none;
                    font-weight: bold;

                    small {
                        display: block;
                        font-size: 60%;
                        opacity: .6;
                    }
                }

            }
            
            ._vst-close-btn {
                position: absolute;
                cursor: pointer;
                width: 36px;
                height: 36px;
                top: 50%;
                margin-top: -18px;
                right: 29px;

                svg {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    
    @media (max-width: $vst-min-whidth) {
        display: block;
    }

    &._vst-rsp-tabs-show {
        ._vst-tabs-container {
            display: block;
        }
    }
}
