<div id="vst-tabs">
    <ul dragula="VSDNDTABS">
        <li (onDropSuccess)="tabsService.calculatePosition()" class="_vst-tab" [ngClass]="{'selected': tabDoc.selected}" [ngStyle]="{'z-index': (tabDoc.selected)?200:150-tabDoc.index}" *ngFor="let tabDoc of tabsService.tabs; let i = index" >
            <a class="_vst-tab-link" routerLink="{{tabDoc.url}}">
                <div class="_vst-tab-content">
                    <img *ngIf="tabDoc.icon" [src]="tabDoc.icon"/>
                    <span class="_vst-tab-title">{{tabDoc.title}}</span>
                </div>
            </a>
            <span class="_vst-close-btn" *ngIf="tabsService.tabs.length > 1" (click)="tabDoc.remove()">
                <svg class="_svg-close-btn" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Group-3" transform="translate(-202.000000, -15.000000)"><g id="Group-4" transform="translate(202.000000, 15.000000)"><circle id="Oval" fill-opacity="0.3" fill="#000000" cx="10" cy="10" r="10"></circle><g id="Group" transform="translate(7.000000, 7.000000)" stroke="#FFFFFF" stroke-linecap="square"><path d="M0,6 L6,0" id="Line"></path><path d="M0,6 L6,0" id="Line" transform="translate(3.000000, 3.000000) scale(-1, 1) translate(-3.000000, -3.000000) "></path></g></g></g></g></svg>
            </span>
        </li>
    </ul>
</div>

<div id="vst-tabs-rsp" [class._vst-rsp-tabs-show]="rspTabsShowing">
    <button class="_vst-checktabs" (click)="rspTabsShowing=!rspTabsShowing">
        <span class="_vst-qtd-tabs">{{ (rspTabsShowing)? 'X' : tabsService.tabs.length }}</span>
    </button>
    <div class="_vst-tabs-container">
        <div class="_vst-tab-container" *ngFor="let tabModel of tabsService.tabs; let i = index;">
            <div class="_vst-tab">
                <a [routerLink]="tabModel.url" (click)="rspTabsShowing=false;">
                    {{ tabModel.title }}
                </a>
            </div>
            <span class="_vst-close-btn" *ngIf="tabsService.tabs.length > 1" (click)="tabModel.remove();">
                <svg class="_svg-close-btn" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Group-3" transform="translate(-202.000000, -15.000000)"><g id="Group-4" transform="translate(202.000000, 15.000000)"><circle id="Oval" fill-opacity="0.3" fill="#000000" cx="10" cy="10" r="10"></circle><g id="Group" transform="translate(7.000000, 7.000000)" stroke="#FFFFFF" stroke-linecap="square"><path d="M0,6 L6,0" id="Line"></path><path d="M0,6 L6,0" id="Line" transform="translate(3.000000, 3.000000) scale(-1, 1) translate(-3.000000, -3.000000) "></path></g></g></g></g></svg>
            </span>
        </div>
    </div>
</div>