@import "../styles/variables.scss";

.vst-header {
    padding: 16px 0px;
    background-color: $--vst-color-bg-header;
    border-bottom: 1px solid $--vst-color-border-bottom-header;
    ._vst-title {
        margin: 0;
        font-weight: 300;
        line-height: 1;
    }
    ._vst-description {
        opacity: .6;
        font-size: 14px;
        line-height: 1;
    }
}