@import "../../../styles/variables.scss";

.vst-options-tree {
    display: block;
    font-weight: 400;
    color: $--vst-color-font-menu;
    font-size: 14px;

    ._vst-menu-disable {
        pointer-events: none;
        color: $--vst-color-item-menu-disable !important;
    }

    ._vst-content-tree {
        padding-left: 16px;
    }

    .space-content-tree {
        margin-left: $--vst-margin-left-menu-subitems-content;
    }

    a._vst-item{
        text-decoration: none;
        color: $--vst-color-font-menu;
    }
    ._vst-item {
        @extend %vst-otl-item;
        padding: $--vst-padding-inner-item-menu;
        opacity: .85;
        position: relative;
        transition: .3s;
        cursor: pointer;

        &:hover {
            opacity: 1;
            background-color: $--vst-color-bg-menu-item-hover;
            transition: .2s;
        }
        ._vst-marker { 
            content: " ";
            background-color: $--vst-color-bg-menu-item-point-active;
            width: 10px;
            height: 80%;
            border-radius: 100%;
            position: absolute;
            left: -11px;
            top: 10%;
            transition: .2s;
        }

        &._vst-active {
            opacity: 1;
            background-color: $--vst-color-bg-menu-item-active;
            color: $--vst-color-font-menu-active;
            ._vst-marker { 
                left: -5px;
            }
        }

        ._vst-img {
            width: $--vst-side-menu-icon;
            height: $--vst-side-menu-icon;
            @extend %vst-otl-item;
            justify-content: center;
            margin-right: 10px;

            img, object, svg {
                width: 100%;
                height: 100%;
            }
            i {
                font-size: $--vst-side-menu-icon-font-size;
            }
        }

        .icon_space {
            margin-right: $--vst-margin-right-item-menu;
        }

        ._vst-title {
            svg {
                path, polygon {
                    fill: $--vst-color-font-menu;
                }
                transition: .3s;
            }
        }
    }

    .vst-menu-item-on-arrow-right {
        height: $--vst-height-titlemenu;
    }

    ._vst-title {
        @extend %vst-otl-item;
        height: $--vst-height-titlemenu;
        font-weight: bold;
        cursor: pointer;

        &:not(.btfixed):hover {
            background-color: $--vst-color-bg-menu-title-hover;
        }

        &.closed {
            img, svg {
                transform: rotate(-90deg);
            }
        }

        &.closed-right-angle {
            img, svg {
                transform: rotate(90deg);
            }
        }
        
        &.btfixed {
            padding-left: 16px;
            // cursor: auto;
        }

        &.linked {
            padding-left: 16px;
            height: $--vst-height-titlemenu-link;
        }

        .vst-arrow-icon {
            position: absolute;
            right: 0px;
        }

        ._vst-img {
            width: 26px;
            height: 36px;
            @extend %vst-otl-item;
            justify-content: center;

            img {
                width: 36px;
                height: 36px;
                transition: .2s;
            }

            svg {
                path, polygon {
                    fill: $--vst-color-font-menu;
                }
                transition: .2s;
            }
        }

        .icon_space {
            margin-left: $--vst-margin-left-angle-menu-item;
            margin-right: $--vst-margin-right-angle-menu-item;
            max-width: 16px;
        }
    }
}

/**

    CODIGO CSS ABAIXO EH PARA NAO QUEBRAR AS ATUALIZAÇÕES
    POIS EXISTE UMA CORRECAO NO HTML QUE GEROU ESSE PROBLEMA

*/
.vst-menu-item-on-arrow-right {
    // text-decoration: none;
    // color: $--vst-color-font-menu;
    @extend %vst-otl-item;
    padding: $--vst-padding-inner-item-menu;
    opacity: .85;
    position: relative;
    transition: .3s;

    &:hover {
        opacity: 1;
        background-color: $--vst-color-bg-menu-item-hover;
        transition: .2s;
    }
    ._vst-marker { 
        content: " ";
        background-color: $--vst-color-bg-menu-item-point-active;
        width: 10px;
        height: 80%;
        border-radius: 100%;
        position: absolute;
        left: -11px;
        top: 10%;
        transition: .2s;
    }

    &._vst-active {
        opacity: 1;
        background-color: $--vst-color-bg-menu-item-active;
        color: $--vst-color-font-menu-active;
        ._vst-marker { 
            left: -5px;
        }
    }

    ._vst-img {
        width: $--vst-side-menu-icon;
        height: $--vst-side-menu-icon;
        @extend %vst-otl-item;
        justify-content: center;
        margin-right: 10px;

        img, svg {
            width: 100%;
            height: 100%;
        }
        i {
            font-size: $--vst-side-menu-icon-font-size;
        }
    }

    .icon_space {
        margin-right: $--vst-margin-right-item-menu;
    }

    ._vst-title {
        svg {
            path, polygon {
                fill: $--vst-color-font-menu;
            }
            transition: .3s;
        }
    }
}