@import "../../../styles/variables.scss";

// pesquisar no menu
.vst-menu-filter-component {
    ._vst-menu-search {
        width: 100%;
        height: $--vst-height-filtermenu;
        font-size: 10px;
        background-color: $--vst-color-bg-filter;
        position: relative;
        &:hover {
            background-color: $--vst-color-bg-filter-hover;
        }

        input {
            background: none;
            margin: none;
            border: none;
            height: 100%;
            width: 100%;
            position: relative;
            padding-left: $--vst-padding-left-placeholder-filter;
            cursor: pointer;
            color: $--vst-color-font-filter;

            &::placeholder {
                color: $--vst-color-font-filter;
            }
            &:focus {
                outline: none;
            }
            transition: .2s;
        }

        ._vst-img-search {
            width: $--vst-height-filtermenu;
            height: $--vst-height-filtermenu;
            display: inline-block;
            margin-left: $--vst-margin-left-filter-icon;
            position: absolute;
            opacity: .7;
            img {
                width: 50%;
                left: 25%;
                top: 18%;
                position: relative;
            }
            svg {
                position: relative;
                width: 50%;
                height: 50%;
                top: 25%;
                left: 25%;
                path {
                    fill: $--vst-color-font-filter;
                }
            }
            transition: .2s;
        }
        ._vst-close-search {
            display: none;

            position: absolute;
            height: $--vst-height-filtermenu;
            width: $--vst-height-filtermenu;
            top: $--vst-height-filtermenu-half;
            right: $--vst-height-filtermenu-half;
            border: none;
            background: none;
            outline: none;
            cursor: pointer;
            &:focus {
                outline: none;
            }
            img {
                width: 100%;
            }
            svg {
                position: relative;
                width: 100%;
                height: 100%;
                path {
                    fill: $--vst-color-font-filter;
                }
            }
        }

        &.focused {
            background-color: $--vst-color-bg-filter-hover;
            height: $--vst-height-filtermenu-focused;
            padding: 8px 20px;
            padding-left: 0px;
            input {
                cursor: auto;
                font-size: 14px;
                border-radius: 4px;
                padding-left: 18px;
                transition: .2s;
                &::placeholder {
                    opacity: .5;
                }
            }
            ._vst-img-search {
                opacity: 0;
                margin-left: 0px;
                transition: .2s;
            }
            ._vst-close-search {
                &.visible {
                    display: block;
                }
            }
        }
        transition: .2s;
    }

    .filter-message {
        color: $--vst-color-text-filter-message;
        padding: 0px 20px;
        font-size: 12px;
        text-align: center;
        padding-top: 10px;
    }

    &._vst-filter-fixed {
        position: relative;
    }
}