<div *ngFor="let itemMenu of itemsMenu;" class="vst-options-tree">
    <div *ngIf="itemMenu && itemMenu.items && itemMenu.items.length">
        <ng-container *ngIf="layoutService.menuAngleMarkPosition === 'left'">
            <div id="{{itemMenu.id}}" class="_vst-title {{ (itemMenu.open && !forceCloseGroup) ? 'open' : 'closed' }}"
                [ngClass]="{'btfixed': !itemMenu.canClose}"
                (click)="itemMenuClicked($event, itemMenu); toggleTree(itemMenu);">

                <div class="_vst-img" [ngClass]="{ 'icon_space': !isChildItem }" *ngIf="itemMenu.canClose">
                    <svg width="36px" height="36px" viewBox="0 0 36 36" version="1.1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="Artboard-2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <polygon id="Combined-Shape" fill="#FFFFFF"
                                points="23.5 15 24 15.5 18 21.5 12 15.5 12.5 15 18 20.5 23.5 15"></polygon>
                        </g>
                    </svg>
                </div>

                <span class="_vst-span-title">{{ itemMenu.title }}</span>
            </div>
        </ng-container>

        <ng-container *ngIf="layoutService.menuAngleMarkPosition === 'right'">
            <div id="{{itemMenu.id}}" class="_vst-title {{itemMenu.class}} vst-menu-item-on-arrow-right"
                (click)="itemMenuClicked($event, itemMenu); toggleTree(itemMenu);">
                <div class="_vst-img" [ngClass]="{ 'icon_space': !isChildItem }" *ngIf="itemMenu.iconSrc">
                    <img [src]="(itemMenu==activatedItem && itemMenu.iconSrcActive) ? itemMenu.iconSrcActive : itemMenu.iconSrc">
                </div>
                <div class="_vst-img" [ngClass]="{ 'icon_space': !isChildItem }"
                    *ngIf="!itemMenu.iconSrc && itemMenu.iconClass">
                    <i [class]="(itemMenu==activatedItem && itemMenu.iconClassActive) ? itemMenu.iconClassActive : itemMenu.iconClass"></i>
                </div>

                <span class="_vst-span-title">{{ itemMenu.title }}</span>

                <div *ngIf="!forceCloseGroup"
                    class="_vst-title {{ (itemMenu.open && !forceCloseGroup) ? 'open' : 'closed-right-angle' }}"
                    [ngClass]="{'btfixed': itemMenu.canClose}">
                    <svg width="36px" height="36px" viewBox="0 0 36 36" version="1.1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" class="vst-arrow-icon">
                        <g id="Artboard-2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <polygon id="Combined-Shape" fill="#FFFFFF"
                                points="23.5 15 24 15.5 18 21.5 12 15.5 12.5 15 18 20.5 23.5 15"></polygon>
                        </g>
                    </svg>
                </div>
            </div>
        </ng-container>

        <div class="_vst-content-tree" [ngClass]="{ 'space-content-tree': !isChildItem }"
            [@openChanged]="itemMenu.open && !forceCloseGroup">
            <vst-menutree [itemsMenu]="itemMenu.items" [isChildItem]="false" [markItemActive]="markItemActive">
            </vst-menutree>
        </div>
    </div>

    <div *ngIf="itemMenu && (!itemMenu.items || !itemMenu.items.length)">
        <a id="{{itemMenu.id}}" class="_vst-item _vst-item-items {{itemMenu.class}}"
            [ngClass]="{'_vst-active': itemMenu==activatedItem, '_vst-with-img': itemMenu.iconSrc || itemMenu.iconClass, '_vst-menu-disable': itemMenu.disable}"
            (click)="itemMenuClicked($event, itemMenu);">
            <!-- [routerLink]="itemMenu.pathUrl"  -->
            <div class="_vst-img" [ngClass]="{ 'icon_space': !isChildItem }" *ngIf="itemMenu.iconSrc">
                <img [src]="(itemMenu==activatedItem && itemMenu.iconSrcActive) ? itemMenu.iconSrcActive : itemMenu.iconSrc">
            </div>
            <div class="_vst-img" [ngClass]="{ 'icon_space': !isChildItem }"
                *ngIf="!itemMenu.iconSrc && itemMenu.iconClass">
                <i [class]="(itemMenu==activatedItem && itemMenu.iconClassActive) ? itemMenu.iconClassActive : itemMenu.iconClass"></i>
            </div>
            <span class="_title">{{ itemMenu.title }}</span>
        </a>
    </div>
</div>