<div class="vs-union-tabs" [ngClass]="{'is-mac': isMac, 'is-win': isWin, 'is-lin': !isWin && !isMac}">
    <div class="_fixed">
        <div class="_tabs" (wheel)="whellScroll($event)">
            <ng-container *ngFor="let tabItem of tabsService.tabs; let tabIdx = index;">
                <div class="_tab" 
                    [ngClass]="{_selected: tabItem.selected}" 
                    [style.width]="tabWidth+'px'" 
                    [style.marginLeft]="calculateLeftMargin(tabIdx)+'px'"
                    (click)="clickOnTab(tabItem)"
                >
                    <div class="_container">
                        <p class="_title">{{ tabItem.title }}</p>
                        <span *ngIf="tabsService.tabs.length > 1" class="_close" (click)="closeTab($event, tabItem)">
                            <div class="_overlay"></div>
                            <svg width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <path d="M8,6.58578644 L13.6568542,0.928932188 C14.0473785,0.538407896 14.6805435,0.538407896 15.0710678,0.928932188 L15.0710678,0.928932188 C15.4615921,1.31945648 15.4615921,1.95262146 15.0710678,2.34314575 L9.41421356,8 L15.0710678,13.6568542 C15.4615921,14.0473785 15.4615921,14.6805435 15.0710678,15.0710678 L15.0710678,15.0710678 C14.6805435,15.4615921 14.0473785,15.4615921 13.6568542,15.0710678 L8,9.41421356 L2.34314575,15.0710678 C1.95262146,15.4615921 1.31945648,15.4615921 0.928932188,15.0710678 L0.928932188,15.0710678 C0.538407896,14.6805435 0.538407896,14.0473785 0.928932188,13.6568542 L6.58578644,8 L0.928932188,2.34314575 C0.538407896,1.95262146 0.538407896,1.31945648 0.928932188,0.928932188 L0.928932188,0.928932188 C1.31945648,0.538407896 1.95262146,0.538407896 2.34314575,0.928932188 L8,6.58578644 Z" id="Path" fill="#D8D8D8" fill-rule="nonzero"></path>
                                </g>
                            </svg>
                        </span>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>
<div class="vs-union-tabs-auxiliar-plug"></div>