@import "../../../styles/variables.scss";

.vs-union-tabs {
    width: 100%;
    height: $--vst-height-union-tabs;

    ._fixed {
        z-index: 200;
        position: fixed;
        height: $--vst-height-union-tabs;
        width: 100%;
    }

    ._tabs {
        height: 100%;
        overflow: hidden;
        position: relative;

        ._tab{
            height: $--vst-height-union-tabs;
            position: absolute;
            background: $--vst-color-background-union-tab;
            transition: background-color .2s;
            border-right: .5px solid $--vst-color-border-color-union-tab;
            border-left: .5px solid $--vst-color-border-color-union-tab;
            cursor: pointer;

            &:last-child {
                border-right: 0;
            }
            &:first-child {
                border-left: 0;
            }
            
            ._container {
                position: relative;
                display: flex;
                align-items: center;
                height: 100%;
                padding: $--vst-padding-container-union-tab;

                ._title {
                    font-size: $--vst-font-size-title-union-tab;
                    white-space: nowrap;
                    white-space: pre;
                    display: block;
                    margin: 0px;
                    width: 100%;
                    text-align: center;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
    
                ._close {
                    transition: .2s;
                    width: 18px;
                    height: 18px;
                    padding: 4px;
                    position: absolute;
                    top: 5px;
                    left: 3px;
                    cursor: pointer;
                    overflow: hidden;
                    border-radius: 2px;
                    opacity: 0;
                    
                    svg {
                        width: 100%;
                        height: 100%;
                        position: relative;
                        display: block;
                        top: 0px;
                        path {
                            fill: #5e5e5e;
                        }
                    }
    
                    ._overlay {
                        opacity: 0;
                        background: rgba(0,0,0,.12); 
                        transition: .2s;
                        position: absolute;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;
                    }
    
                    &:hover {
                        ._overlay {
                            opacity: 1;
                            transition: .2s;
                        }
                    }
                }
                
            }

            &:hover {
                background: $--vst-background-hover-union-tab;
                transition: background-color .2s;
                ._container ._close {
                    opacity: 1;
                    transition: .2s;
                }
            }

            &._selected {
                background: $--vst-background-selected-union-tab;
                z-index: 1;
            }

        }
    }

    &.is-win {
        ._tabs {
            ._tab {
                transition: .3s;
                ._container {
                    ._close {
                        left: initial;
                        right: 3px;
                    }
                }
                &:hover {
                    transition: .3s;
                }
            }
        }
    }
}