@import "../../../styles/variables.scss";

.vst-menu-container {
    position: relative;
    ._header {
        position: relative;
        width: $--vst-width-menu;
    }

    ._body {
        position: relative;
    }

    &._header-fixed {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;

        ._header {
            position: relative;
        }
        ._body {
            flex-grow: 1;
            overflow: auto;
            overflow-x: hidden;
            
            /* for Firefox */
            min-height: 0;
        }
    }
}

.section {
    flex-grow: 1;
    
    display: flex;
    flex-direction: column;
    
    /* for Firefox */
    min-height: 0;
}