<div class="vst-menu-container" [ngClass]="{'_header-fixed': layoutService.headerFixed}">
    <div class="section">
        <div class="_header">
            <vst-auth-widget 
                *ngIf="layoutService.authWidgetEnable && layoutService.authWidgetOptions.position === 'menu'"
                [closeOptions]="gaveta && !mouseInMenu && !responsive"
            ></vst-auth-widget>
            
            <vst-filter-menu 
                *ngIf="layoutService.filterEnabled" 
                [(filtering)]="filterActivated"
                (click)="respGavetaChange.emit(false); gavetaChange.emit(false);" 
                [menuItems]="layoutService.groups"
            ></vst-filter-menu>
        </div>
        <div class="_body">
            <div class="container-scroller">
                <div *ngIf="!filterActivated">
                    <div class="_vst-space"></div>
                    <vst-menutree 
                        [itemsMenu]="layoutService.groups" 
                        [forceCloseGroup]="!mouseInMenu && gaveta && !responsive"
                        [markItemActive]="layoutService.menuMarkItem"
                    ></vst-menutree>
                </div>
            </div>
        </div>
    </div>
</div>